* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

button {
  background-color: black;
  color: antiquewhite;
  font-weight: bold;
  min-height: 2rem;
  border: solid black 1px;
  cursor: pointer;
}

.active-button {
  background-color: darksalmon;
}

input {
  background-color: darksalmon;
  outline: none;
  border: solid black 1px;
  padding: 7px;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  border: solid black 1px;
  margin: 2rem;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.top-menu > button {
  width: 100%;
}